.grid{
    display: grid;
    grid-gap: 10px;  
    }
    .navabar1{
    background-color:rgb(5, 22, 27);
    text-align: center; 
    color:rgb(146, 138, 138);
    height: 60px;
    width: 100%;
    }
    .napis{
        margin-top:7px;
        color: rgb(211, 203, 203);
    }
    .Kontakty {
        margin-left: 46.7%;
        margin-top:25px;

    }
    .inputkontakt1{
        border: 3px solid rgb(160, 158, 158);
        min-height: 3vh;
        width: 250px;
        margin-left: 25%;
        margin-top:-35px;
    }
    .inputwiadomosc{
        border: 3px solid rgb(160, 158, 158);
        min-height: 3vh;
        margin-left: 38.4%;
        width: 22.6%;
        height: 150px;
       
    }
    .input {
        width: 10%;
        display: flex;
        margin-left: 36%;     
    }
    .btn2 {
        margin-left: 38.39%;
        background-color: white;
        height: 40px;
        width: 180px;
       border: 2px solid #1a1c1d;

    }
    body{
        background-color: royalblue;
    }